@import 'src/styles.scss';

.quickstart-column-container {
    display: flex;
    flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
   height: 100%;
   width: 100%;
   padding: 1rem;
}

.quickstart-input-container {
    background: rgba(0, 0, 0, 0.600);
    color: white;
    width: 80%;
    height: 16rem;
    border-radius: 0.625rem;
    padding: 1rem;
    box-shadow: 0.15rem 0.15rem 0.3rem 0 $primary-color;
    max-height: 20rem;
    overflow-y: auto;
    position: relative;

    .shuffle-button {
        margin-top: 5rem;
        margin-left: 5rem;
        background-color: green;
        color: black;
        position:absolute;
    }
    
    .shuffle-button:hover {
        background-color: $primary-color;
        color: white;
    }

    .loader {
        position: absolute;
        left: 0;
        top: 0;
        color: $secondary-color;
    }
}

.quickstart-table-container {
    background: rgba(0, 0, 0, 0.486);
    color: white;
    width: 80%;
    height: 32rem;
    border-radius: 0.625rem;
    padding: 1rem;
    box-shadow: 0.15rem 0.15rem 0.3rem 0 $primary-color;
    overflow-y: auto;
}

.quickstart-table-container > table {
    width: 100%;
    border-collapse: collapse;

    th {
        position: sticky;
        margin-top: 20%;
    }
}

.list-players-textarea{
    resize: none;
    color: white;
    margin-top: 1rem;
    font-family: 'Courier New', monospace !important;
}


