<div class="side-navigation-container col-2">
    <mat-nav-list>
        <mat-list-item class="side-navigation-container-item">
            <img width="100" class="m-3 text-left" src="assets/cara_ou_coroa_logo.png" alt="Cara ou Coroa - Logo" />
        </mat-list-item>
    </mat-nav-list> 
    <mat-nav-list>
        <mat-list-item class="side-navigation-container-item">
            <a>Partida rápida</a>
        </mat-list-item>
    </mat-nav-list> 
    <mat-nav-list>
        <mat-list-item class="side-navigation-container-item">
            <a>Torneios</a>
        </mat-list-item>
    </mat-nav-list> 
</div>
<div class="side-navigation-container-menu col-10"></div>