<div class="side-navigation-container col-2">
        <div class="side-navigation-container-item">
            <img width="100" class="m-3 text-left" src="assets/cara_ou_coroa_logo.png" alt="Cara ou Coroa - Logo" />
        </div>
        <div class="example-button-row">
            <button mat-button>Partida Rápida</button>
        </div>
        <mat-divider></mat-divider>
        <div class="example-button-row">
            <button mat-button>Torneios</button>
        </div>
        <mat-divider></mat-divider>
        <div class="example-button-row">
            <button mat-button disabled>Minha conta</button>
        </div>
        <mat-divider></mat-divider>
        <div class="example-button-row">
            <button mat-button disabled>Configuração</button>
        </div>
</div>
<div class="side-navigation-container-menu col-10"></div>