.caracoroa-home-container-side-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    height: 100vh;
}

.caracoroa-home-container-side-bar-menu {
    background-color: #191919;
    height: 100vh;
}